target/
dependency-reduced-pom.xml
dockerfiles/run/**/*.lib
dockerfiles/run/**/*.jar
dockerfiles/run/**/keystore
dockerfiles/run/**/glowroot
.m2
test-run.log
build

.vscode
.DS_Store
docker-deploy/logs/*.log
docker-deploy/logs/emails/
docker-deploy/root/extensions-jars/*.jar
examples/custom-listeners/body.log
docker-deploy/root/conf/*.pem
